html, body {
	height: 100%;
}

body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #AA44AA;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
}

span {
	position: absolute;
	pointer-events: none;
	top: 10px;
}

#s1 { left:  10px; }
#s2 { right: 10px; }
